<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Ekal Shiksha is an Ed-tech company that promises to deliver personalized one-on-one individual online classes to students, according to their needs, from 6 to 12th class.">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <meta property="og:locale" content="en_IN">
  <meta property="og:type" content="website">
  <meta property="og:title" content="One to One Online Individual Classes - Ekal Shiksha">
  <meta property="og:description" content="Ekal Shiksha is an Ed-tech company that promises to deliver personalized one-to-one individual classes online to students, according to their needs, from 6 to 12th class.">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta property="og:site_name" content="Ekal Shiksha">
  <meta property="og:image" content="https://ekalshiksha.in/static/webpages/images/Logo.png">
  <meta name="twitter:card" content="summary" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="shortcut icon" type="png" href="{% static '/webpages/images/Logo.ico' %}">
  <link rel=”canonical” href="https://www.ekalshiksha.in" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.css">
  <!-- CSS only -->
  <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/fullpage.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Work+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="{% static 'webpages/hover-min.css' %}">
  <script src="https://kit.fontawesome.com/9d4d248d66.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/fontawesome.min.css">
  <link rel="stylesheet" href="{% static 'webpages/flickity.min.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'webpages/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>One to One Online Classes (Individual Classes) - Ekal Shiksh</title>
  <style media="screen">
    a {
      text-decoration: none;
    }

    .abc {
      width: 100%;
    }

    .pop-up-open {
      display: block;
    }
  </style>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "One to One Tuition Online, 6 to 12 Math, Science, Commerce"
      },
      "headline": "One to One Tuition Online",
      "description": "We offers best one on one 6 to 12 tutoring to Connect and meet your tutor through online virtual class room with audio-video, whiteboard and experienced faculty",
      "image": {
        "@type": "ImageObject",
        "url": "https://ekalshiksha.in/static/webpages/images/Logo.png",
        "width": "",
        "height": ""
      },
      "author": {
        "@type": "Organization",
        "name": "ekalshiksha"
      },
      "publisher": {
        "@type": "Organization",
        "name": "ekalshiksha",
        "logo": {
          "@type": "ImageObject",
          "url": "https://ekalshiksha.in/static/webpages/images/Logo.png",
          "width": "",
          "height": ""
        }

      },
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "4",
        "bestRating": "5"
      },
      "datePublished": "2021-06-17"
    }
  </script>
  <!-- Facebook Pixel Code -->
  <script>
    ! function(f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function() {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '3789975331106301');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=3789975331106301&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JR1HSFMVDL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-JR1HSFMVDL');
  </script>
</head>

<body>
  <nav class="navbar px-5 is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'index' %}">
         <img alt="ekal shiksha logo" src="{% static 'webpages/images/Logo head.jpeg' %}">
         <img alt="ekal shiksha" src="{% static 'webpages/images/Logo font.jpeg' %}">
        <!-- <strong class="ml-2 brand is-size-5">Ekal Shiksha</strong> -->
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-end">

        <div class="navbar-item has-dropdown is-hoverable" id="navbarDropdown">
          <a class="navbar-link">
            Courses
          </a>
          <div class="navbar-dropdown">
            <a href="/6th/" class="navbar-item">
              Class 6th
            </a>
            <a href="/7th/" class="navbar-item">
              Class 7th
            </a>
            <a href="/8th/" class="navbar-item">
              Class 8th
            </a>
            <a href="/9th/" class="navbar-item">
              Class 9th
            </a>
            <a href="/10th/" class="navbar-item">
              Class 10th
            </a>
            <input class="dropdown-sub" type="checkbox" id="dropdown-sub" name="dropdown-sub" />
            <label class="for-dropdown-sub button" for="dropdown-sub" style="padding-left:7%">Class 11th</label>
            <div class="section-dropdown-sub">
              <a href="/Science/11th/" class="navbar-item">
                Class 11th Science
              </a>
              <a href="/Commerce/11th/" class="navbar-item">
                Class 11th Commerce
              </a>
              <a href="/Humanities/11th/" class="navbar-item">
                Class 11th Humanities
              </a>
            </div>
            <div class="nested navbar-item dropdown ">
              <div class="dropdown-trigger">
                <button class="button " aria-haspopup="true" aria-controls="dropdown-menu" style="font-family: Work Sans, sans-serif;">
                  <span>Class 12th</span></button>
              </div>
              <div class="dropdown-menu " id="dropdown-menu" role="menu">
                <div class=" navbar-dropdown">
                  <a href="/Science/12th/" class="navbar-item">
                    Class 12th Science
                  </a>
                  <a href="/Commerce/12th/" class="navbar-item">
                    Class 12th Commerce
                  </a>
                  <a href="/Humanities/12th/" class="navbar-item">
                    Class 12th Humanities
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="{% url 'Doubt' %}" class="navbar-item">Doubt Class</a>
        <div class="navbar-item has-dropdown is-hoverable" id="navbarDropdown">
          <a class="navbar-link">
            Study Material 
          </a>
          <div class="navbar-dropdown">
            <a href="/StudyMaterial/#ncert-solution" class="navbar-item">
              NCERT Solutions
            </a>
            <a href="/StudyMaterial/#ncert-book" class="navbar-item">
              NCERT Books
            </a>
            <a href="/StudyMaterial/#ncert-mock-test" class="navbar-item">
              NCERT Mock Test
            </a>
            <a href="/StudyMaterial/#ncert-assignment" class="navbar-item">
              NCERT Assignments
            </a>
            
          </div>
        </div>
        <!-- <div id="navbar" class="navbar-menu1"> -->
          <!-- <div class="navbar-end"> -->

            <div class="navbar-item has-dropdown is-hoverable" id="navbarDropdown">
              <a class="navbar-link">
                Micro Courses
              </a>
              <div class="navbar-dropdown">
                <a href="/Micro/6/" class="navbar-item">
                  Micro 6th
                </a>
                <a href="/Micro/7/" class="navbar-item">
                  Micro 7th
                </a>
                <a href="/Micro/8/" class="navbar-item">
                  Micro 8th
                </a>
                <a href="/Micro/9/" class="navbar-item">
                  Micro 9th
                </a>
                <a href="/Micro/10/" class="navbar-item">
                  Micro 10th
                </a>
                <input class="dropdown-sub" type="checkbox" id="dropdown-sub-1" name="dropdown-sub" />
                <label class="for-dropdown-sub button" for="dropdown-sub-1" style="padding-left:7%">Micro 11th</label>
                <div class="section-dropdown-sub">
                  <a href="/Micro/11th_Science" class="navbar-item">
                    Micro 11th Science
                  </a>
                  <a href="/Micro/11th_Commerce/" class="navbar-item">
                    Micro 11th Commerce
                  </a>
                  <a href="/Micro/11th_Humanities/" class="navbar-item">
                    Micro 11th Humanities
                  </a>
                </div>
                <div class="nested navbar-item dropdown ">
                  <div class="dropdown-trigger">
                    <button class="button " aria-haspopup="true" aria-controls="dropdown-menu" style="font-family: Work Sans, sans-serif;">
                      <span>Micro 12th</span></button>
                  </div>
                  <div class="dropdown-menu " id="dropdown-menu" role="menu">
                    <div class=" navbar-dropdown">
                      <a href="/Micro/12th_Science/" class="navbar-item">
                        Micro 12th Science
                      </a>
                      <a href="/Micro/12th_Commerce/" class="navbar-item">
                        Micro 12th Commerce
                      </a>
                      <a href="/Micro/12th_Humanities/" class="navbar-item">
                        Micro 12th Humanities
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <a href="{% url 'contact' %}" class="navbar-item">Contact us</a>

        <a href="https://web.studentekalshiksha.in" class="navbar-item">SignUp</a>
        <div class="navbar-item has-dropdown is-hoverable" id="navbarDropdown">
          <a class="navbar-link">
            More
          </a>
          <div class="navbar-dropdown" style="left:auto;right: 1rem;">
              <a href="{% url 'About' %}" class="navbar-item">About Us</a>
              <a href="{% url 'blog' %}" class="navbar-item">Blog</a>
              <a href="{% url 'work' %}" class="navbar-item">Teach With Us</a>
          </div>
        </div>
      <!-- </div> -->
    <!-- </div> -->
    </div>
    </div>
  </nav>

  <div id="">

    <div class="section one fp-auto-height-responsive" style="background: linear-gradient(to left, #848883, #174e40) ;
      /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
      ">

      <!-- <div class="custom-shape-divider-top-1630603934"> -->
      <!-- <svg data-name="Layer 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
      </div> -->
      <div class="columns is-hidden-mobile">
        <div class="column is-4-desktop is-12-mobile">
          <p class="column has-text-white py-5 has-text-weight-bold" style="text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.153); font-size: 3.5rem;" >
            One Teacher,
            <br />
            One Student.
          </p>
          <p class="column is-10-mobile subtitle is-size-5 pb-3 has-text-white">We promise to deliver personalized education to students while nurturing their freedom of thought and catering to needs at their convenience.</p>
          <div class="Booknow-btn">
            <a href="/contact" class=" button" style="background:#174e40;color:#ffffff;">Book Your<b>&nbsp;FREE&nbsp;</b>classes Individual Now
              <!-- <img src="{% static 'webpages/images/Booknow.png' %}" style="width: 130px; height: 38px;" > -->
            </a>
          </div>

          <div class="column is-flex is-align-items-center">

            <a class="pr-3" href="https://apps.apple.com/in/app/classplus/id1324522260"><img src="{% static 'webpages/images/app-store-badge.svg' %}" style="width: 120px; height: 40px;" style="width: 130px; height: 40px;" ></a>
            <a href="https://on-app.in/app/home?orgCode=uhmmr"><img src="{% static 'webpages/images/google-play-badge.svg' %}" style="width: 150px; height: 58px;" style="width: 130px; height: 40px;" ></a>
          </div>
        </div>
        <div class="column is-8-desktop">
          <div class="image">
            <img alt="ekal shiksha-backround" src="{% static '/webpages/images/Add_a_heading-removebg-preview.png' %}"  />
          </div>
        </div>
        <!-- <div id = "pop-up" class = "modal" style="padding-top:5%;" >
          <div class = "modal-background"></div>
          <div class = "modal-content">
            <h2 class="is-size-5 title pb-3 has-text-white has-text-centered">Book Now</h2>
             <div class = "box">
              <form method='post'>

                {% csrf_token %}
                    <label>Name</label>
                    {{form.Name}}


                    <label>Email</label>
                    {{form.Email}}


                  <label>Phone Number</label>
                  {{form.Number}}


                  <label>Course</label>
                 {{form.Course}}



                    <label>Grade</label><br>
                   {{form.Class}}
                  <br>
                <br>
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="button is-link">Submit</button>
                    </div>
                    </div>
              </form>
             </div>

          </div>
          <button class = "modal-close is-large" onclick="displayClose()" aria-label = "close"></button>
       </div> -->
      </div>

      <div class="columns is-hidden-tablet">
        <div class="column py-6">
          <div class="image">
           
            <img alt="ekal shiksha-backround" style='padding-top: 4%;padding-bottom: 0%;' src="{% static '/webpages/images/Add_a_heading-removebg-preview.png' %}"  />
          </div>
            <!-- <img src="{% static '/webpages/images/9.png' %}"  /> -->
          
        </div>
        <div class="column">
          <h1 class="is-size-1 has-text-centered has-text-white py-5" style="text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.153);">
            One Teacher,
            <br />
            One Student.
          </h1>
          <h5 class="subtitle is-size-6 has-text-white has-text-centered-mobile px-3">We promise to deliver personalized education to students while nurturing their freedom of thought and catering to needs at their convenience.</h5>
          <div class="Booknow-btn">
            <a href="/contact" class=" button" style="background:#174e40;color:#ffffff;">Book Your<b>&nbsp;FREE&nbsp;</b>Individual Class Now
              <!-- <img src="{% static 'webpages/images/Booknow.png' %}" style="width: 130px; height: 38px;" > -->
            </a>
          </div>
          <div class="is-flex is-align-items-center is-justify-content-center py-3">

            <a href="https://on-app.in/app/home?orgCode=uhmmr"><img src="{% static '/webpages/images/app-store-badge.svg' %}" style="width: 120px; height: 40px;" style="width: 130px; height: 40px;" ></a>
            <a href=" https://on-app.in/app/home?orgCode=uhmmr"><img src="{% static '/webpages/images/google-play-badge.svg' %}" style="width: 150px; height: 58px;" style="width: 130px; height: 40px;" ></a>
          </div>
        </div>
        <!-- <div id = "pop-up" class = "modal" style="" >
          <div class = "modal-background"></div>
          <div class = "modal-content">
             <div class = "box">
              <form method='post'>

                {% csrf_token %}
                    <label>Name</label>
                    {{form.Name}}


                    <label>Email</label>
                    {{form.Email}}


                  <label>Phone Number</label>
                  {{form.Number}}


                  <label>Course</label>
                 {{form.Course}}



                    <label>Grade</label><br>
                   {{form.Class}}
                  <br>
                <br>
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="button is-link">Submit</button>
                    </div>
                    </div>
              </form>
             </div>

          </div>
          <button class = "modal-close is-large" onclick="displayClose()" aria-label = "close"></button>
       </div> -->
      </div>
    </div>


    <div class="section two fp-auto-height-responsive" style=" background-image:linear-gradient(rgba(23,78,64,1),rgba(23,78,64,0.5)),url('static/webpages/images/ekal shiksha.gif'); background-size: cover;padding-top: 5%;">
      <h2 class="is-size-2 has-text-centered has-text-white" style="text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.01);">Perks of Individual Classes</h2>

      <div class="service-swipe is-flex is-flex-wrap-wrap is-align-items-center is-justify-content-center">

        <a href="#services_section">
          <div class="s-card isc"><img alt="personal-class ekalshiksha" src="{% static '/webpages/images/personalised classes.png' %}">
            <p>Personalised classes</p>
          </div>
        </a>
        <a href="#services_section">
          <div class="s-card"><img alt="ekal shiksha judgement" src="{% static '/webpages/images/fear of judgement.png' %}">
            <p>No fear of judgement</p>
          </div>
        </a>
        <a href="#services_section">
          <div class="s-card"><img alt="student-teacher ekalshiksha" src="{% static '/webpages/images/interaction.png' %}">
            <p>Better interaction with teachers</p>
          </div>
        </a>
        <a href="#services_section">
          <div class="s-card isc"><img alt="ekal shiksha time-flexible" src="{% static '/webpages/images/time flexible.png' %}">
            <p>Time flexiblity</p>
          </div>
        </a>
        <a href="#services_section">
          <div class="s-card isc"><img alt="books ekalshiksha" src="{% static '/webpages/images/custom build lessons.png' %}">
            <p>Custom build lesson plan</p>
          </div>
        </a>
        <a href="#services_section">
          <div class="s-card isc"><img alt="ekal shiksha result" src="{% static '/webpages/images/result.png' %}">
            <p>Result driven Learning</p>
          </div>
        </a>
      </div>
      <h3 class=" has-text-centered rotate right-rotate features" style="font-size:5rem;">FEATURES</h3>
    </div>

    <!-- </div>
        </div>
      </div> -->


    <div class="section four fp-auto-height-responsive">
      <h2 style="text-align: center;font-size: 2.5rem;">1 to 1 – Individual Classes we offer for class</h2>
      <br>
      <div class="main-carousel">


        <div class="carousel-cell box">
          <figure class="image is-5by3">
            <a href="/6th/"><img alt="ekal shiksha class-6" src="{% static '/webpages/images/class 6.png' %}" />
          </figure>
          <h2 class="is-size-4 has-text-centered" style="color: #353d3c;">Class 6</h2>
        </div></a>
        <div class="carousel-cell box">

          <figure class="image is-5by3">
            <a href="/7th/">
              <img alt="ekal shiksha class-7" src="{% static '/webpages/images/class 7.png' %}" />
          </figure>
          <h2 class="is-size-4 has-text-centered" style="color: #353d3c;">Class 7</h2>
          </a>
        </div>
        <div class="carousel-cell box">
          <figure class="image is-5by3">
            <a href="/8th/">
              <img alt="ekal shiksha class-8" src="{% static '/webpages/images/class 8 (2).png' %}" />
          </figure>

          <h2 class="is-size-4 has-text-centered" style="color: #353d3c;">Class 8</h2>
          </a>
        </div>
        <div class="carousel-cell box">
          <figure class="image is-5by3">
            <a href="/9th/">
              <img alt="ekal shiksha class-9" src="{% static '/webpages/images/class 9.png' %}" />
          </figure>
          <h2 class="is-size-4 has-text-centered" style="color: #353d3c;">Class 9</h2>
          </a>
        </div>
        <div class="carousel-cell box">

          <figure class="image is-5by3">
            <a href="/10th/"></a>
            <img alt="ekal shiksha class-10" src="{% static '/webpages/images/class 10.png' %}" />
          </figure>
          <h2 class="is-size-4 has-text-centered" style="color: #353d3c;">Class 10</h2>
          </a>
        </div>
        <div class="carousel-cell box">
          <a href="/Science/11th/">
            <figure class="image is-5by3">
              <img alt="ekal shiksha class-11 science" src="{% static '/webpages/images/class 11 science.png' %}" />
            </figure>
            <h2 class="is-size-4 has-text-centered" style="color: #353d3c;">Class 11 Science</h2>
          </a>
        </div>
        <div class="carousel-cell box">
          <a href="/Commerce/11th/">
            <figure class="image is-5by3">
              <img alt="ekal shiksha class-11 commerce" src="{% static '/webpages/images/class 11 comm.jpg' %}" />
            </figure>
            <h2 class="is-size-4 has-text-centered" style="color: #353d3c;">Class 11 Commerce</h2>
          </a>
        </div>
        <div class="carousel-cell box">
          <a href="/Humanities/11th/"></a>
          <figure class="image is-5by3">
            <img alt="ekal shiksha class-11 Humanities" src="{% static '/webpages/images/class 11 hum.jpg' %}" />
          </figure>
          <h2 class="is-size-4 has-text-centered" style="color: #353d3c;">Class 11 Humanities</h2>
          </a>
        </div>
        <div class="carousel-cell box">
          <a href="/Science/12th/">
            <figure class="image is-5by3">
              <img alt="ekal shiksha class-12 science" src="{% static '/webpages/images/class 12 science.png' %}" />
            </figure>
            <h2 class="is-size-4 has-text-centered" style="color: #353d3c;">Class 12 Science</h2>
          </a>
        </div>
        <div class="carousel-cell box">
          <a href="/Commerce/12th/">
            <figure class="image is-5by3">
              <img alt="ekal shiksha class-12 commerce" src="{% static '/webpages/images/class 12 comm.png' %}" />
            </figure>
            <h2 class="is-size-4 has-text-centered" style="color: #353d3c;">Class 12 Commerce</h2>
          </a>
        </div>
        <div class="carousel-cell box">

          <a href="/Humanities/12th/">
            <figure class="image is-5by3">
              <img alt="ekal shiksha class-12 Humanities" src="{% static '/webpages/images/class 12 hum.png' %}" />
            </figure>
            <h2 class="is-size-4 has-text-centered" style="color: #353d3c;">Class 12 Humanities</h2>
          </a>
        </div>
      </div>
      <div style="text-align:center;margin-bottom:3%;background: linear-gradient(to right,#848883, #174e40);;" class="strip">
        <h1 style="margin-bottom:0.5%;padding-top:1%;">Get Your Personalized Individual Learning Recommendation</h1>
        <h3>Interact for<b>&nbsp;FREE&nbsp;</b>with our Counsellor</h3>
        <!-- <button type="button modal-button"  data-target = "#modal" style="margin-bottom:2%;background-color: #F9F9F9;color: #00303F;" class="button is-link">Book Now</button>
      <div id = "modal" class = "modal">
        <div class = "modal-background"></div>
        <div class = "modal-content">
           <div class = "box">
            <form method='post'>

              {% csrf_token %}
                  <label>Name</label>
                  {{form.Name}}


                  <label>Email</label>
                  {{form.Email}}


                <label>Phone Number</label>
                {{form.Number}}


                <label>Course</label>
               {{form.Course}}



                  <label>Grade</label><br>
                 {{form.Class}}
                <br>
              <br>
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-link">Submit</button>
                  </div>
                  </div>
            </form>
           </div>

        </div>
        <button class = "modal-close is-large" aria-label = "close"></button>
     </div> -->
        <a href="{% url 'contact' %}"><button class="button is-success is-rounded" style="margin-bottom:2%;border: 1px solid #ffffff;background: none">Get Started</button></a>

      </div>
    </div>

    <div class="section four fp-auto-height-responsive">
      <div class="columns is-centered" style="padding-bottom:65px;">
        <div class="column is-8 yt-wrapper pb-6">
          <h2 class="is-size-2 is-size-3-mobile has-text-centered pb-3">For Online Individual Classes - Why choose us?</h2>
          <figure class="image is-2by1" style="padding-top:20%;height:60%;">
            <iframe class="has-ratio video-ekal" width="60%" height="60%" src="https://www.youtube.com/embed/WgfUxWwFO4w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </figure>
          <br>
          <div class="solutions">
            <div class="circle">
              <div class="solution-image">
                <img alt="ekal shiksha Problem Identification" src="{% static 'webpages/images/01.png'%}" >
              </div>
              <p>Problem Identification</p>
            </div>
            <div class="circle">
              <div class="solution-image">
                <img alt="ekal shiksha Possible-solution" src="{% static 'webpages/images/02.png'%}" >
              </div>
              <p>Best Possible Solution</p>
            </div>
            <div class="circle">
              <div class="solution-image">
                <img alt="ekal shiksha best Resources" src="{% static 'webpages/images/03.png'%}" >
              </div>
              <p>Better Resources</p>
            </div>
          </div>
        </div>
        <div class="column is-4 socials">
          <!-- <h2 class="is-size-2 is-size-3-mobile has-text-centered pb-3">We Provide</h2> -->
          
          <div class="service-table">
            <h1 class="choose-us-1 has-text-centered">Choose Us</h1>
            <div class="services">
              <div class="service">
                <img alt="ekal shiksha lesson-plan" src="{% static 'webpages/images/customized_lesson1.png'%}"  class="picture">
                <span class="name"><strong>Customized Lesson Plans</strong></span>
              </div>
              <div class="service">
                <img alt="ekal shiksha approach" src="{% static 'webpages/images/EAD1.png'%}"  class="picture">
                <span class="name"><strong>EAD Approach</strong></span>
              </div>
              <div class="service">
                <img alt="Updates ekalshiksha" src="{% static 'webpages/images/Regular_update1.png'%}"  class="picture">
                <span class="name"><strong>Regular Updates</strong></span>
              </div>
              <div class="service">
                <img alt="ekal shiksha doubt" src="{% static 'webpages/images/Doubt Adress1.png'%}"  class="picture">
                <span class="name"><strong>Doubt Redressal</strong></span>
              </div>
              <div class="service">
                <img alt="ekal shiksha EasyRevision" src="{% static 'webpages/images/Easy_rev1.png'%}"  class="picture">
                <span class="name"><strong>Easy Revision</strong></span>
              </div>
              <div class="service">
                <img alt="ekal shiksha flexible time" src="{% static 'webpages/images/time_flex1.png'%}"  class="picture">
                <span class="name"><strong>Time Flexiblity</strong></span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <h3 class="has-text-centered rotate right-rotate choose-us" style="font-size:4rem;">CHOOSE US</h3>
      <!-- <div class="strip2" style="background: linear-gradient(to right, #848883, #174e40);">
           <h1 style="margin-bottom:0.5%;padding-top:1.2%;color:#fff;font-size:1.5rem;">Get Your Personalized Learning Recommendation</h1>
    <a href="{% url 'contact' %}"><button class="button is-success is-rounded is-large" style="margin-bottom:1%;margin-top: 1%;background-color: #F9F9F9;color: #00303F;">Book your individual doubt class for Free now!!</button></a>
        </div> -->
    </div>


    <!-- <div class="section five fp-auto-height-responsive" style="background: linear-gradient(to right, #174e40, #848883);">
      <center>
        <h2 class="has-text-white is-size-2">Doubt Class</h2>
      </center>
      <div class="columns">
        <div class="column">
          <p class="has-text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
          <br>
          <p class="has-text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="solutions">
            <div class="">
              <div class="solution-image">
                <img src="{% static 'webpages/images/imGES.jpg'%}" >
              </div>
            </div>
            <div class="">
              <div class="solution-image">
                <img src="{% static 'webpages/images/imGES.jpg'%}" >
              </div>
            </div>
            <div class="">
              <div class="solution-image">
                <img src="{% static 'webpages/images/imGES.jpg'%}" >
              </div>
            </div>
          </div>
        </div>
        <div class="column ">
          <div class="image">
            <img src="{% static '/webpages/images/04.png' %}"  />
          </div>
        </div>
      </div>
    </div> -->
    <!-- <h1>Resolve It</h1> -->
    <div class="resolve-it-z" style="font-size: 2rem;"><h1 style="text-align: center;">Resolve It</h1>
    <br><div class="break-line"><br><br></div></div>

    <div class="section five fp-auto-height-responsive">
      
      <div class="columns
    is-centered
    is-flex-mobile
    is-flex-direction-column
    is-align-items-center">
        <div class="column is-8 is-10-mobile" style="position: relative;bottom: 2rem;">
          <div class="columns pb-3 animated-content">
            <div class="column is-6">
              <figure class="image is-16by9">
                <img alt="ekal shiksha got back" src="{% static '/webpages/images/09.png' %}" />
              </figure>
            </div>
            <div class="column is-6 is-flex-mobile is-flex-direction-column is-align-items-center">
              <h4 class="is-size-4 py-3 has-text-centered-mobile has-text-weight-bold" style="color: #174e40;">Having doubts before exam?</h4>
              <p class=" has-text-centered-mobile">
                We have got your back. Take a class with us to discuss your specific problems and pay only for the hours you have studied.
              </p>
            </div>
          </div>
          <div class="columns is-hidden-mobile" style="margin-top:-80px;margin-left:6rem;">
            <div class="column is-6 is-flex-mobile is-flex-direction-column is-align-items-center">
              <h4 class="is-size-4 py-3 has-text-weight-bold" style="color: #174e40;">Resolve it</h4>
              <p class="has-text-centered-mobile">
                Register yourself on the website or give us a ring at <a href="tel:9625578335"> 9625578335.</a>
                <br>
                We are all time on our toes to help you!!
              </p>

            </div>
            <div class="column is-6">
              <figure class="image img-a is-16by9">
                <img alt="ekal shiksha Register yourself" src="{% static '/webpages/images/10.png' %}"  />
              </figure>
            </div>
          </div>
          <div class="columns is-hidden-tablet">
            <div class="column is-6">
              <figure class="image is-16by9">
                <img alt="ekal shiksha Register yourself" class="understand-img" src="{% static '/webpages/images/10.png' %}" />
              </figure>
            </div>
            <div class="column is-6 is-flex-mobile is-flex-direction-column is-align-items-center">
              <h1 class="is-size-4 py-3 has-text-centered-mobile">Book your individual doubt class for FREE now!!</h1>
              <p class="is-size-5 mb-bottom has-text-centered-mobile">
                Register yourself on the website or give us a ring at <a href="tel:9625578335"> 9625578335.</a></a>
                <br>
                We are all time on our toes to help you!!
              </p>


            </div>
          </div>
        </div>
      </div>

      <div class="strip2" style="background: linear-gradient(to right, #848883, #174e40);">
        <!-- <h1 style="margin-bottom:0.5%;padding-top:1.2%;color:#fff;font-size:1.5rem;">Book your FREE individual Doubt class</h1> -->
        <a href="/Doubts/"><button class="button is-success is-rounded is-large" style="margin-bottom:1%;margin-top: 1%;background-color: #F9F9F9;color: #00303F;">Book your <b>&nbsp;FREE&nbsp;</b> Individual Doubt class</button></a>
      </div>
      <h3 class="has-text-centered mb-padding rotate left-rotate resolve-it" style="font-size:3.5rem;">RESOLVE IT</h3>
    </div>
    <div class="std-material">
      <h1 style="text-align: center; font-size: 2.5rem;">Study Materials</h1><br>
    <div class="content-md">
      
      <a class="card-md"  href="/StudyMaterial/#ncert-solution">
        <div class="front" style="background-image: url('static/webpages/images/NCERT Solutions.jpg')">
          <p>NCERT Solution</p>
        </div>
        <div class="back">
          <div>
            
            <p>cards</p>
          </div>
        </div>
      </a>
      <a class="card-md" href="/StudyMaterial/#ncert-book">
        <div class="front" style="background-image: url('static/webpages/images/NCERT Books.png')">
          <p>NCERT Books</p>
        </div>
        <div class="back">
          <div>
            
            <p>cards</p>
          </div>
        </div>
      </a>
      <a class="card-md" href="/StudyMaterial/#ncert-mock-test">
        <div class="front" style="background-image: url('static/webpages/images/NCERT Mock Tests.jpg')">
          <p>NCERT Mock Tests</p>
        </div>
        <div class="back">
          <div>
            
            <p>cards</p>
          </div>
        </div>
      </a>
        <a class="card-md" href="/StudyMaterial/#ncert-assignment">
        <div class="front" style="background-image: url('static/webpages/images/NCERT Assignments.jpg')">
          <p>NCERT Assignments</p>
        </div>
        <div class="back">
          <div>
            
            <p>cards</p>
          </div>
        </div>
      </a>
    </div>
    </div>
    <br><br><br><br>

    <!-- <div class="student-banner">
      <div id="gradient"></div>
      <div id="card">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43604/profile/profile-512_1.jpg"/>
        <h2>Student's Name</h2>
        <p>Scored: 98.9%</p>
        <br>
        <span class="left bottom">Student of the Month</span><br>
        <span class="right bottom">Current Year</span>
      </div>
    </div> -->
    
    <!-- <div class="micro-caurosel">
      <h1 style="text-align: center; font-size: 2.5rem; color: white;">Micro Courses</h1>
      <div class="carousel">
        <a class="carousel-cell" href="">
          <div></div>
        </a>
        <a class="carousel-cell" href="">
          <div></div>
        </a>
        <a class="carousel-cell" href="">
          <div></div>
        </a>
        <a class="carousel-cell" href="">
          <div></div>
        </a>
        <a class="carousel-cell" href="">
          <div></div>
        </a>
        <a class="carousel-cell" href="">
          <div></div>
        </a>
        <a class="carousel-cell" href="">
          <div></div>
        </a>
      </div>
    <br><br><br>
  </div> -->


    <div class="section six fp-auto-height-responsive" style="background: linear-gradient(to right, #174e40, #848883);padding: bottom 0px !important;;
    /* background: #174e20;  /* fallback for old browsers */
      /* background: -webkit-linear-gradient(to right, #848883, #174e40);  /* Chrome 10-25, Safari 5.1-6 */
      /* background: linear-gradient(to right,#848883, #174e40);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      ">

      <div id="form" class="columns is-centered">
        <div class="column is-9">

          <h2 class="is-size-4 has-text-centered has-text-white" style="text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.153); text-align: center;">Register now for your<b>&nbsp;FREE&nbsp;</b>individual class!!!</h2>
          <p class="subtitle is-size-6-desktop is-size-6-mobile has-text-centered has-text-white">We would love to hear from you!</p>

          <div class=box>

            <div class='columns is-centered is-mobile'>
              <div class='column is- is-offset-one-quater'>

                <form method='post'>

                  {% csrf_token %}
                  <label>Name</label>
                  {{form.Name}}


                  <label>Email</label>
                  {{form.Email}}


                  <label>Phone Number</label>
                  {{form.Number}}


                  <label>Course</label>
                  {{form.Course}}



                  <label>Grade</label><br>
                  {{form.Class}}

                  <label>Want to Add something!!</label><br>
                  {{form.Information}}
                  <br>
                  <br>
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="button is-link">Submit</button>
                    </div>
                  </div>
                </form>
              </div>

            </div>

            <!-- {% csrf_token %}
                  <label>Name</label>
                  {{form.Name}}


                  <label>Email</label>
                  {{form.Email}}


                <label>Phone Number</label>
                {{form.Number}}


                <label>Course</label>
               {{form.Course}}



                  <label>Grade</label><br>
                 {{form.Class}}
                <br>

              <button type="submit" class="btn btn-primary">Sign in</button>
            </form> -->
          </div>
        </div>

      </div>
      <h3 class="has-text-centered rotate left-rotate contact-float" style="font-size:5rem;color:#ffffff;">Contact Us</h3>
    </div>
    <!-- <br> -->
    <div class="section three fp-auto-height-responsive" style="background: linear-gradient(rgba(23,78,64,1),rgba(23,78,64,0.5)) ;">
      <div class="container">
        <p class="is-size-4 has-text-white heading"><span class="pb-3" style="border-bottom: 2px solid rgba(255, 255, 255, 0.5);">Our Mission</span></p>
        <h2 class="sub-heading is-size-1 is-size-3-mobile pt-6" style="color: rgba(255, 255, 255, 0.5); text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.153);">To inspire <span class="has-text-white">excellence</span> <br> and <span
            class="has-text-white">innovation.</span><br>with best <span class="has-text-white">online</span><br>individual <span class="has-text-white">classes</span></h2>
        <div class="columns is-hidden-mobile py-6">
          <div class="column is-6 has-text-light">
            <p class="is-size-6">
              We believe that each student has his or her personal learning speed, method and curriculum which is very important for a teacher to understand and personalize their teaching methods according to the students not vice versa. This platform is especially built for those who have immense potential but are never focused on in group classes, the growth of such students is our motto. We have been in the teaching industry for past four years, catered to more than 1000s of students till the date. We are unique in a manner that we not only provide tuitions
            </p>
          </div>
          <div class="column is-6 has-text-light">
            <p class="is-size-6">
              but also we make sure that the performance of each student is tracked through our LMS system and they get to check their clearity of concepts by the MCQs provided after each concept is taught. We have adopted the EAD approach for the better learning, understanding and self assessing of students. We are in a way parent friendly and make sure that the parents are kept in loop for each activity of the student and the teacher.
            </p>
          </div>
        </div>
        <div class="columns is-hidden-tablet py-5">
          <div class="column has-text-light">
            <p style="font-size: 0.85rem;">
              We believe that each student has his or her personal learning speed, method and curriculum which is very important for a teacher to understand and personalize their teaching methods according to the students not vice versa. This platform is especially built for those who have immense potential but are never focused on in group classes, the growth of such students is our motto. We have been in the teaching industry for past four years, catered to more than 1000s of students till the date. We are unique in a manner that we not only provide tuitions
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section seven fp-auto-height-responsive" style="padding:0;">

      <!-- <div class="strip3">
        <h1 style="margin-bottom:0.5%;padding-top:1.2%;color:#fff;font-size:1.5rem;">Get Your Personalized Learning Recommendation</h1>
        <a href="{% url 'contact' %}"><button class="button is-success is-rounded is-large" style="margin-bottom:1.5%;margin-top: 1.5%;background-color: #F9F9F9;color: #00303F;">Book Your Crash Course Now</button></a>

      </div> -->
      <!-- <div style="text-align:center;background: linear-gradient(to left, #848883, #174e40);margin-top:1%;" class="strip">
        <h1 style="margin-bottom:2%;padding-top:0%;color:#fff;font-size:2rem;">Choose your<b>&nbsp;FREE&nbsp;</b>personal Mentor</h1>
        <a href="{% url 'contact' %}"><button class="button button is-success is-rounded is-large" style="margin-bottom:1%;background-color: #F9F9F9;color: #00303F;">Book Now</button>
        </a>
      </div> -->
      <footer style="padding:3%;margin-top: 1%; ">
        <div class="container bottom_border">
          <div class="columns">
            <div class="column is-3 mr-3">
              <h5 class="headin5_amrc col_white_amrc pt2"><strong class="has-text-white">&#169; Ekal Shiksha 2021</strong></h5>
              <!--headin5_amrc-->
              <p class="mb10">Ekal Shiksha is an Ed-tech company which provides one on one individual online classes.</p>
              <p><i class="fa fa-location-arrow"></i> C-54, Sector-2 Noida, Gautam Budh Nagar, Uttar Pradesh </p>
              <p><i class="fa fa-phone"></i> <a href="tel:9625578335"> 9625578335.</a> </p>
              <a href="mailto:contact@ekalshiksha.in">
                <p><i class="fa fa fa-envelope"></i> contact@ekalshiksha.in </p>
              </a>


            </div>


            <div class="column nav-column is-4">
              <h5 class="headin5_amrc col_white_amrc pt2">Classes</h5>
              <!--headin5_amrc-->
              <ul class="footer_ul_amrc is-flex">
                <div class="pr-6">
                  <li><a href="/6th/">Class 6</a></li>
                  <li><a href="/7th/">Class 7</a></li>
                  <li><a href="/8th/">Class 8</a></li>
                  <li><a href="/9th/">Class 9</a></li>
                  <li><a href="/10th/">Class 10</a></li>
                </div>
                <div class="pr-6">
                  <li><a href="/Science/11th/">Class 11 Science</a></li>
                  <li><a href="/Commerce/11th/">Class 11 Commerce</a></li>
                  <li><a href="/Humanities/11th/">Class 11 Humanities</a></li>
                  <li><a href="/Science/11th/">Class 12 Science</a></li>
                  <li><a href="/Commerce/12th/">Class 12 Commerce</a></li>
                  <li><a href="/Humanities/12th/">Class 12 Humanities</a></li>
                </div>
              </ul>
              <!--footer_ul_amrc ends here-->
            </div>

            <div class="column nav-column is-4">
              <h5 class="headin5_amrc col_white_amrc pt2">Study Material</h5>
              <!--headin5_amrc-->
              <ul class="footer_ul_amrc is-flex">
                <div class="pr-6">
                  <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 6</a></li>
                  <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 7</a></li>
                  <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 8</a></li>
                  <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 9</a></li>
                  <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 10</a></li>
                </div>
                <div class="pr-6">
                  <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 11 Science</a></li>
                  <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 11 Commerce</a></li>
                  <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 11 Humanities</a></li>
                  <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 12 Science</a></li>
                  <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 12 Commerce</a></li>
                  <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 12 Humanities</a></li>
                </div>
              </ul>
              <!--footer_ul_amrc ends here-->
            </div>
            <div class="column">
              <h5 class="headin5_amrc col_white_amrc pt2">Blogs</h5>
              <!--headin5_amrc-->
              <ul class="footer_ul_amrc">
                <li><a href="/blogs/">Blogs</a></li>

              </ul>
              <!--footer_ul_amrc ends here-->
            </div>
            <div class="column">
              <h5 class="headin5_amrc col_white_amrc pt2"> About</h5>
              <!--headin5_amrc-->
              <ul class="footer_ul_amrc">
                <li><a href="/AboutUs/">About Us</a></li>

              </ul>
              <!--footer_ul_amrc ends here-->
            </div>

          </div>
        </div>




        <div class="container">
          <ul class="foote_bottom_ul_amrc is-flex-mobile is-flex-wrap-wrap">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="/AboutUs/">About</a></li>
            <li><a href="/Doubts/">Doubt Class</a></li>

          </ul>
          <!--foote_bottom_ul_amrc ends here-->

          <ul class="social_footer_ul">
            <li><a href="https://www.facebook.com/ekalshiksha/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://twitter.com/ekalshiksha?lang=en"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://in.linkedin.com/company/ekal-shiksha"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/ekal_shiksha/?hl=en"><i class="fab fa-instagram"></i></a></li>
          </ul>
          <!--social_footer_ul ends here-->
        </div>

      </footer>
    </div>
  </div>



  <!-- <script type="text/javascript" src="{% static 'webpages/Js/fullpage.js' %}"></script> -->
  <script src="{% static 'webpages/Js/flickity.pkgd.min.js' %}"></script>
  <script>
    var elem = document.querySelector('.main-carousel');
    var flkty = new Flickity(elem, {
      // options
      cellAlign: 'left',
      contain: true,
      wrapAround: true,
      pageDots: false
    });


    // element argument can be a selector string
    //   for an individual element
    var flkty = new Flickity('.main-carousel', {
      // options
    });
  </script>
  <script>
    var elem = document.querySelector('.second-carousel');
    var flkty = new Flickity(elem, {
      // options
      cellAlign: 'left',
      contain: true,
      wrapAround: true,
      pageDots: false
    });


    // element argument can be a selector string
    //   for an individual element
    var flkty = new Flickity('.second-carousel', {
      // options
    });
  </script>
  <!-- <script>
    new fullpage("#fullpage", {
      //options here
      autoScrolling: true,
      verticalCentered: false,
      navigation: true,
      navigationPosition: 'right',
      responsiveWidth: 769,
      verticalCentered: true,
    });

    //methods
    fullpage_api.setAllowScrolling(true);
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        const navbarDropdown = [].slice.call(document.querySelectorAll("#navbarDropdown"));



        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

            if ($target.classList.contains("is-active")) {
              navbarDropdown.map((e) => {
                e.lastElementChild.style.display = "none"
              })
            } else {
              navbarDropdown.map((e) => {
                e.lastElementChild.style.removeProperty("display")
              })
            }

            navbarDropdown.map((e) => {
              const button = e.firstElementChild;
              button.addEventListener("click", () => {
                if (e.lastElementChild.style.display === "none") {
                  e.lastElementChild.style.display = "block";
                } else {
                  e.lastElementChild.style.display = "none";
                }
              });
            });

          });
        });
      }
    });
  </script> -->
  <script>
    function displayit() {
      $("#pop-up").addClass("pop-up-open");
    }

    function displayClose() {
      $("#pop-up").removeClass("pop-up-open");
      window.location.replace('/')
    }
  </script>
  <script>
    $(".modal-button").click(function() {
      var target = $(this).data("target");
      $("html").addClass("is-clipped");
      $(target).addClass("is-active");

    });

    $(".modal-close").click(function() {
      $("html").removeClass("is-clipped");
      $(this).parent().removeClass("is-active");
    });
  </script>
  <script>
    function Scroll() {
      $(document).on('click', 'a[href^="#"]', function(e) {
        // target element id
        var id = $(this).attr('href');

        // target element
        var $id = $(id);
        if ($id.length === 0) {
          return;
        }

        // prevent standard hash navigation (avoid blinking in IE)
        e.preventDefault();

        // top position relative to the document
        var pos = $id.offset().top;

        // animated top scrolling
        $('body, html').animate({
          scrollTop: pos
        });
      });
    }
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        const navbarDropdown = [].slice.call(document.querySelectorAll("#navbarDropdown"));



        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

            if ($target.classList.contains("is-active")) {
              navbarDropdown.map((e) => {
                e.lastElementChild.style.display = "none"
              })
            } else {
              navbarDropdown.map((e) => {
                e.lastElementChild.style.removeProperty("display")
              })
            }

            navbarDropdown.map((e) => {
              const button = e.firstElementChild;
              button.addEventListener("click", () => {
                if (e.lastElementChild.style.display === "none") {
                  e.lastElementChild.style.display = "block";
                } else {
                  e.lastElementChild.style.display = "none";
                }
              });
            });

          });
        });
      }
    });
  </script>
  <script>
    var elem = document.querySelector('.carousel');
var flkty = new Flickity( elem, {
  // options
  cellalign: 'right',
  pageDots: false,
  groupCells: '20%',
  selectedAttraction: 0.03,
  friction: 0.15
});
var flkty = new Flickity( '.carousel', {
  
});
  </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.pkgd.min.js"></script>

</body>

</html>
